// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p{
	font-family:arial;
	color:black;
}

#prod-name{
	font-size: 25px;
	color: green;
	padding-bottom:35px;

}

#prod-description{
	font-size:12px;

}

