// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$colorRed:red;


h1 {
	font-family:arial,sans-serif;
	color:$colorRed;
	text-align:center;
	padding-top:35px;
}


.carousel-caption{
	color:black;
	font-weight:400;
	padding:20%;
	padding-top:5em;
}

#prod {
	font-size:35px;
	color:yellow;
	padding-bottom:300px;

}


